html, body {
  height: 100%;
}
body {
  overflow-x:hidden;
}
.carousel {
  height:60%;
}
.item,
.active,
.carousel-inner {
  height:100%;
}
.fill {
  width:100%;
  height:100%;
  background-position: center;
  background-size: cover;
}
.bottom {
  background-position: bottom !important; 
}
.top {
  background-position: top !important;
}
.section {
  margin: 50px 0;
}
footer {
  margin: 50px 0;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
  background-color: #303030 !important;
  border:none !important;
}
#wrap {
  min-height: 100%;   
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}
img.thumb{
  opacity: 0.80;
  filter: alpha(opacity=80);
}
#thumbDiv1:hover img {
  opacity: 1.0;
  filter: alpha(opacity=100);
}
#thumbDiv2:hover img {
  opacity: 1.0;
  filter: alpha(opacity=100);
}
#thumbDiv3:hover img {
  opacity: 1.0;
  filter: alpha(opacity=100);
}
#thumbDiv4:hover img {
  opacity: 1.0;
  filter: alpha(opacity=100);
}
#pressurecleaningtxt, #sweepingtxt, #constructioncleanuptxt, #graffitiremovaltxt {
  background-color:#e3e3e3;
  position: absolute;
  bottom: 0;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
#pressurecleaning  {
   background-image:url('../img/worker.jpg');
}
#sweeping  {
   background-image:url('../img/sweeper.jpg');
}
#constructioncleanup  {
   background-image:url('../img/garage.jpg');
}
#graffitiremoval  {
   background-image:url('../img/graffiticleanup1080p.jpg');
}
p.max {
  max-width: 1000px;
  display: inline-block;
}
.service {
  height:648px;
  background-position: center;
  background-size: cover;
  position: relative;
}
.services h2 {
  color:#b00000;
}
.services h3 {
  color:#b00000;
}
.services p {
  color:#000000;
}
.container-full {
  margin: 0 auto;
  width: 100%;
}
.divider {
  height:4px;
  width:100%;
  background-color:#b00000;
}
#thumbDiv1:hover p, #thumbDiv1:hover h3 {
  color:#666666 !important;
}
#thumbDiv2:hover p, #thumbDiv2:hover h3 {
  color:#666666 !important;
}
#thumbDiv3:hover p, #thumbDiv3:hover h3 {
  color:#666666 !important;
}
#thumbDiv4:hover p, #thumbDiv4:hover h3 {
  color:#666666 !important;
}
.navbar-default {
  background-color:#b00000;
  border-color:#b00000;
}
.navbar-brand {
  font-size:20px;
  margin-top:-15px;
}
.navbar-name {
  margin-top:18px;
  float:right;
}
.navbar-logo {
  margin-right:10px;
}
ul.nav a { border-top: solid #b00000 !important; }
ul.nav a:hover, ul.nav a:focus { background-color:#970000 !important; border-top: solid #303030 !important; }
a:link {
  color: #FFFFFF !important;
}
a:visited {
  color: #FFFFFF !important;
}
.well a:link, .well a:visited, .well a:hover, .well a:active {
  color: #b00000 !important;
}
.contact a:link, .contact a:visited, .contact a:hover, .contact a:active {
  color: #b00000 !important;
}
.extra-small-bottom {
  padding-bottom:10px;
}
.small-bottom {
  padding-bottom: 25px;
}
.medium-bottom {
  padding-bottom: 50px;
}
.large-bottom {
  padding-bottom: 75px;
}
.extra-small-top {
 padding-top: 10px;
}
.small-top {
  padding-top: 25px;
}
.medium-top {
  padding-top: 50px;
}
.large-top {
  padding-top: 75px;
}
.small-top-margin {
  margin-top:25px;
}
.medium-top-margin {
  margin-top:50px;
}
.large-top-margin {
  margin-top:75px;
}
.small-bottom-margin {
  margin-bottom:25px;
}
.medium-bottom-margin {
  margin-bottom:50px;
}
.large-bottom-margin {
  margin-bottom:75px;
}
h2 {
  color:white;
}
h3 {
  color:white;
}
p {
  color:#999999;
}
.fixed {
  position: fixed;
}
#footer {
  left:0px;
  bottom:0px;
  height:120px;
  width:100%;
  color: white;
  background:#b00000;
}
@media (max-width:768px) {
  .logo {
    max-width:38%;
  }
  #pressurecleaningtxt, #sweepingtxt, #constructioncleanuptxt, #graffitiremovaltxt {
    margin-bottom: 100px;
  }
  .fixed {
    position: relative;
  }
  #footer {
    left:0px;
    bottom:0px;
    height:150px;
    width:100%;
    color: white;
    background:#b00000;
  }
}
.logo {
  margin-top:-20px;
}
